<h2 ng-show="title">{{title}}</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-right" style="margin-bottom: 10px">
            <button class="btn btn-info " ng-click="addRow()">Добавить</button>
            <button class="btn btn-danger" ng-disabled="!isRowSelected" ng-click="deleteRow()">Удалить</button>
        </div>
        <div  id="eventsGrid" ui-grid="gridOptions" class="grid" ui-grid-edit ui-grid-pagination ui-grid-selection></div>
    </div>
</div>